<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>床位</title>
    <script type="text/javascript" src="/static/js/common/title.js"></script>
    <script type="text/javascript" src="/static/js/utils/utils.js"></script>
    <script type="text/javascript" src="/static/js/config/alarmConfig.js"></script>
    <link rel="stylesheet" href="/static/css/alarmConfig.css">
</head>
<body>
    <div class="bed-container">

    </div>
    <div id="mjs:tip" class="tip" style="position:absolute;left:0;top:0;display:none;"></div>
</body>
</html>