<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>波形数据展示</title>
    <link rel="stylesheet" href="/static/css/Style.css">
    <script type="text/javascript" src="/static/js/common/title.js"></script>
<!--    <script type="text/javascript" src="/static/js/utils/const.js"></script>-->
<!--    <script type="text/javascript" src="/static/jquery-1.8.0.min.js"/>-->
    <script type="text/javascript" src="/static/js/utils/webSocket.js"></script>
    <script type="text/javascript" src="/static/js/utils/color-utils.js"></script>
    <script type="text/javascript" src="/static/js/wave/view-utils.js"></script>
    <script type="text/javascript" src="/static/js/wave/wave.js"></script>
</head>
<body>
<div class="container">
    <div class="header">
        <label style="color: white;font-size:20px;height: 48px;line-height: 48px;margin-left: 16px">选择医院：</label>
        <input style="height: 32px;font-size: 20px" id="hospital_select" data-options="textField:'name',valueField:'id'">
    </div>
    <div class="bed-container clearfix">
    </div>
</div>
</body>
</html>