<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>服务器内部错误</title>
    <style>
        .error {
            font-size: 72px;
            color: red;
        }
        h3{
            text-align: center;
        }
    </style>
</head>
<body>
<center>
    <label class="error">5</label>
    <label class="error">0</label>
    <label class="error">0</label>
</center>
<h3>服务器出错了...┭┮﹏┭┮</h3>
</body>
</html>