<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备</title>
    <script type="text/javascript" src="/static/js/common/title.js"></script>
    <script type="text/javascript" src="/static/js/utils/utils.js"></script>
    <style>

        form#ff {
            padding: 8px;
        }

        .form-item {
            margin-bottom: 16px;
        }

        .form-item-title {
            /*display: inline-block;*/
            /*width: 100px;*/
            /*text-align: right;*/
            font-size: 18px;
            /*font-weight: 700;*/
            /*margin-bottom: 8px;*/
        }
    </style>
</head>
<body>

<div id="device_list" class="easyui-datagrid" fit="true" style="width: 70%;height: 100%"
     toolbar="#device_list_toolbar">

</div>

<div id="device_list_toolbar" style="padding: 5px;height: auto">
    <a class="easyui-linkbutton" id="add" data-options="iconCls:'icon-add'" >新增</a>
    <a class="easyui-linkbutton" id="edit" data-options="iconCls:'icon-edit'">修改</a>
    <a class="easyui-linkbutton" id="delete" data-options="iconCls:'icon-remove'">删除</a>
    <a class="easyui-linkbutton" id="query" data-options="iconCls:'icon-reload'">刷新</a>
</div>


<div id="device_dialog" class="easyui-dialog" title="医院信息"
     data-options="resizable:true,modal:true,closed:true,border:false"
     style="width: 600px;height: 400px">
    <form id="ff" method="post">
        <table style="width: 100%" cellspacing="10">
            <tr class="form-item">
                <td class="form-item-title">ID:</td>
                <td><input class="easyui-textbox" id="id" name="id" style="width: 100%;height:32px"
                           data-options="prompt:'该项为系统生成，无需输入',editable:false"></td>
            </tr>
            <tr>
                <td class="form-item-title">
                    名称:
                </td>
                <td>
                    <input class="easyui-textbox" id="name" name="name" style="width:100%;height:32px"
                           data-options="prompt:'请输入名称',required:true">
                </td>
            </tr>
            <tr>
                <td class="form-item-title">
                    制造商:
                </td>
                <td>
                    <input class="easyui-textbox" id="manufacturer" name="manufacturer" style="width:100%;height:32px"
                           data-options="prompt:'请输入制造商',required:true">
                </td>
            </tr>
            <tr>
                <td class="form-item-title">
                    品牌:
                </td>
                <td>
                    <input class="easyui-textbox" id="brand" name="brand" style="width:100%;height:32px"
                           data-options="prompt:'请输入品牌',required:true">
                </td>
            </tr>
            <tr>
                <td class="form-item-title">
                    型号:
                </td>
                <td>
                    <input class="easyui-textbox" id="model" name="model" style="width:100%;height:32px"
                           data-options="prompt:'请输入型号',required:true">
                </td>
            </tr>
        </table>
        <div style="margin-top: 16px">
            <a href="#" id="device_save" class="easyui-linkbutton" iconCls="icon-ok"
               style="width:100%;height:32px">保存</a>
        </div>
    </form>
</div>
<script type="text/javascript" src="/static/js/system/device.js"></script>
</body>
</html>