.w {
    width: 1200px;
    margin: 0 auto;
}

.style_red {
    color: red;
}

header {
    height: 84px;
    border-bottom: 2px solid #c81523;
}


.logo {
    padding-top: 18px;
}


.logo a label{
    font-size: 32px;
    text-align: center;
    vertical-align: middle;
    margin-left: 16px;
    font-weight: 700;
}

.logo a img{

}

.registerarea {
    height: 622px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.registerarea h3 {
    height: 42px;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    font-weight: 400;
    background-color: #ececec;
    border-bottom: 1px solid #ccc;
}

.login {
    float: right;
    font-size: 14px;
}

.reg_form {
    width: 600px;
    /* background-color: pink; */
    margin: 50px auto 0;
}

.reg_form ul li {
    margin-bottom: 20px;
}

.reg_form ul li label {
    display: inline-block;
    width: 88px;
    text-align: right;
    font-size: 18px;
}

.reg_form ul li .inp {
    width: 242px;
    height: 37px;
    margin: 0 5px;
    border: 1px solid #ccc;
}

.error {
    color: #c81523;
}

.error_icon, .success_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-size: 20px 20px;
}

.error_icon {
    background-image: url('/static/images/error.png');
}

.account_error {
    display: none;
}

.password_error {
    display: none;
}

.success {
    color: green;
}

.success_icon {
    background-image: url('/static/images/success.png');
}

.safe {
    padding-left: 165px;
}

.safe em {
    padding: 0 12px;
    background: pink;
    color: white;
}

.safe em.ruo {
    background: #de1111;
}

.safe em.zhong {
    background: #40b83f;
}

.safe em.qiang {
    background: #f79100;
}

.agree {
    padding-left: 95px;
}

.agree input {
    vertical-align: middle;
}

.agree a {
    color: #1ba1e6;
}

.btn {
    width: 200px;
    height: 34px;
    font-size: 14px;
    background-color: #c81523;
    color: #fff;
    margin: 30px 0 0 90px;
}

.copyright {
    text-align: center;
    margin-top: 20px;
}

.copyright .links a {
    margin: 0px 6px;
}

.copyright .address {
    margin-top: 10px;
}

.copyright .address p a, span {
    color: #999;
    margin: 0px 6px;
}

.copyright .security {
    margin-top: 10px;
}