html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    background-color: #14191e;
    background-attachment: fixed;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.header {
    position: absolute;
    width: 100%;
    height: 48px;
    left: 0;
    bottom: 0;
    background: #00111e;
}

.bed-container {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 48px;
    font-size: 0;
    /*overflow-y: scroll;*/
    background: black;
    /*margin-right: calc(100% - 100vw)*/
}

.bed-item {
    position: relative;
    float: left;
    /*width: 50%;*/
    border: 2px solid rgb(86, 95, 108);
    /*height: 280px;*/
    border-top-width: 0;
    border-left-width: 0;
    background-color: #14191e;
}

.item-title {
    color: whitesmoke;
    height: 32px;
    font-size: 18px;
}

.item-title img {
    width: 20px;
    height: 20px;
    margin: 6px 8px;
    vertical-align: top;
    align-items: center;
    text-align: center;
}

.item-title label {
    display: inline-block;
    margin-right: 16px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

.complaint-desc:hover {
    cursor: pointer;
    color: red;
}

.complaint-desc:hover .complaint {
    display: block;
}

.complaint {
    position: absolute;
    top: 16px;
    z-index: 1000;
    /*padding: 8px;*/
    background: rgba(193, 193, 193, 0.41);
    /*padding: 8px;*/
    padding: 8px;
    right: 50px;
    border-radius: 1em;
    display: none;
}

.item-container {
    position: absolute;
    top: 32px;
    bottom: 0;
    width: 100%;
}

.item-container-left {
    float: left;
    width: 60%;
    height: 100%;
    background: rgb(24, 29, 35);
}

.item-container-right {
    float: left;
    width: 40%;
    height: 100%;
    overflow: hidden;
}

.key {
    float: left;
    width: 33%;
    margin-left: 1px;
    margin-top: 1px;
    /*border-color: grey;*/
    /*border-style: solid;*/
    /*border-width: 0 1px 1px 0;*/
    /*height: 33%;*/
}

.key_nibp {
    float: left;
    width: 66%;
    margin-left: 1px;
    margin-top: 1px;
    /*height: 33%;*/
}

/*.hr {*/
/*    float: left;*/
/*    color: rgb(107, 228, 59);*/
/*    width: 90px;*/
/*}*/

/*.rr {*/
/*    float: left;*/
/*    width: 90px;*/
/*    margin-left: 16px;*/
/*    color: rgb(247, 220, 60);*/
/*}*/

/*.spo2 {*/
/*    float: left;*/
/*    width: 90px;*/
/*    color: rgb(110, 251, 252);*/
/*    margin-left: 32px;*/
/*}*/

.key_title {
    font-size: 18px;
}


div.key_content {
    position: relative;
    width: 100%;
    height: 42px;
}

span.key_unit {
    float: right;
    height: 24px;
    line-height: 24px;
    /*font-size: 12px;*/
    /*margin-left: 8px;*/
    /*position: absolute;*/
    font-size: 12px;
    /*height: 42px;*/
    /*line-height: 42px;*/
    /*right: 10px;*/
    text-align: center;
    margin-right: 10px;

}

label.key_threshold {
    position: absolute;
    font-size: 14px;
}

label.key_threshold_max {
    top: 0;
    left: 0;
}

label.key_threshold_min {
    bottom: 0;
    left: 0;
}

label.key_threshold_max2 {
    top: 0;
    right: 10px;
}

label.key_threshold_min2 {
    bottom: 0;
    right: 10px;
}

label.key_value {
    position: absolute;
    /*font-size: 36px;*/
    height: 42px;
    line-height: 42px;
    right: 10px;
}

label.key_value2 {
    display: inline-block;
    /*font-size: 36px;*/
    width: 100%;
    text-align: center;
    height: 42px;
    line-height: 42px;
    right: 0;
}

.boack {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*分页样式*/

ul.page {
    display: inline-block;
    width: 45rem;
    height: 100%;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}


ul.page li {
    float: left;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 0.2rem;
    margin-left: 8px;
    margin-top: 8px;
    color: white;
    text-align: center;
    border: 1px solid lightgray;
}

ul.page li:hover {
    cursor: pointer;
    color: #1d1f20;
    background-color: white;
    border: solid 1px white;
}

ul.page li.active {
    cursor: pointer;
    color: #1d1f20;
    background-color: white;
    border: solid 1px white;
}
