<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备波形数据管理后台</title>
    <script type="text/javascript" src="/static/js/common/title.js"></script>
    <link rel="stylesheet" href="/static/css/home.css">
    <script type="text/javascript" src="/static/js/home/home.js"></script>
    <frame-options policy="SAMEORIGIN" />
</head>
<body>
<div class="container">
    <div class="header">
        <span class="title">波形数据管理后台</span>
        <label class="user">
            <label class="iconfont">&#xe8d0;</label>
            <label id="username"></label>
            <ul class="user_event">
                <li onclick="logout()"><label class="iconfont">&#xe75e;</label><a href="/logout">退出登录</a></li>
            </ul>
        </label>
    </div>
    <div class="content">
        <div class="nav">
            <div id="sm" class="easyui-sidemenu" data-options="data:data"></div>
        </div>
        <div class="data">
            <div id="tt" class="easyui-tabs" fit="true">

            </div>
        </div>
    </div>
</div>
</body>
</html>