<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上海普陀区人民医院/上海十院崇明分院</title>
    <link rel="stylesheet" href="/static/css/Style.css">
    <script type="text/javascript" src="/static/js/utils/const.js"></script>
    <script type="text/javascript" src="/static/js/utils/webSocket.js"></script>
    <script type="text/javascript" src="/static/js/utils/color-utils.js"></script>
    <script type="text/javascript" src="/static/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/static/js/home/ecg.js"></script>
    <script type="text/javascript" src="/static/js/home/view-utils.js"></script>

</head>
<body>
<div class="container">
    <div class="header">
        <label style="color: white;font-size:20px;height: 48px;line-height: 48px;margin-left: 16px">选择医院：</label>
        <select style="height: 32px;font-size: 20px" id="hospital_select">
        <option>全部医院</option>
        <option>广西工人医院</option>
        <option>杭州邵逸夫医院</option>
        <option>浙江省人民医院</option>
        <option>上海普陀区人民医院</option>
        <option>上海十院崇明分院</option>
        </select>

<!--        <label style="color: white;font-size:20px;height: 48px;line-height: 48px;margin-left: 16px">选择曲线：</label>-->
<!--            <input type="checkbox" value="HR" style="color: white"><label style="color: white">HR</label>-->
<!--            <input type="checkbox" value="PR"><label style="color: white">PR</label>-->
<!--            <input type="checkbox" value="Resp"><label style="color: white">Resp</label>-->
<!--            <input type="checkbox" value="SpO2"><label style="color: white">SpO2</label>-->
<!--            <input type="checkbox" value="NIBP"><label style="color: white">NIBP</label>-->
    </div>
    <div class="bed-container">
<!--        <div class="bed-item">-->
<!--            <div class="item-title">-->
<!--                <label>凉山_4床</label>-->
<!--                <label>王杨明</label>-->
<!--                <label>男</label>-->
<!--                <label>37岁</label>-->
<!--                <label>医院:上海普陀区人民医院</label>-->
<!--                <label>科室:重症监护科</label>-->
<!--            </div>-->
<!--            <div class="item-container">-->
<!--                <div class="item-container-left" id="size-of-chart">-->
<!--                    <div class="boack">-->
<!--                        <canvas id="background" width="512px" height="248px">-->
<!--                        </canvas>-->
<!--                    </div>-->
<!--                    <div class="boack">-->
<!--                        <canvas id="line" width="512px" height="248px">-->
<!--                        </canvas>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="item-container-right">-->
<!--                    <div class="hr">-->
<!--                        <label class="key_title">HR</label><span class="key_unit">(bmp)</span>-->
<!--                        <div class="key_content">-->
<!--                            <label class="key_threshold key_threshold_max">100</label>-->
<!--                            <label class="key_threshold key_threshold_min">50</label>-->
<!--                            <label class="key_value">60</label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="rr">-->
<!--                        <label class="key_title">Resp</label><span class="key_unit">(rpm)</span>-->
<!--                        <div class="key_content">-->
<!--                            <label class="key_threshold key_threshold_max">35</label>-->
<!--                            <label class="key_threshold key_threshold_min">6</label>-->
<!--                            <label class="key_value">12</label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="spo2">-->
<!--                        <label class="key_title">SpO2</label><span class="key_unit">(%)</span>-->
<!--                        <div class="key_content">-->
<!--                            <label class="key_threshold key_threshold_max">100</label>-->
<!--                            <label class="key_threshold key_threshold_min">85</label>-->
<!--                            <label class="key_value">99</label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="nibp">-->
<!--                        <label class="key_title">NIBP</label><span class="key_unit">(%)</span>-->
<!--                        <label class="key_send_value">(69)</label>-->
<!--                        <div class="key_content">-->
<!--                            <label class="key_threshold key_threshold_max">180</label>-->
<!--                            <label class="key_threshold key_threshold_min">80</label>-->
<!--                            <label class="key_value2">100/55</label>-->
<!--                            <label class="key_threshold key_threshold_max2">110</label>-->
<!--                            <label class="key_threshold key_threshold_min2">50</label>-->
<!--                        </div>-->
<!--                        <div class="key_time">-->
<!--                            测量时间:2020-12-01 11:07:25-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="pr">-->
<!--                        <label class="key_title">PR</label><span class="key_unit">(%)</span>-->
<!--                        <div class="key_content">-->
<!--                            <label class="key_threshold key_threshold_max">100</label>-->
<!--                            <label class="key_threshold key_threshold_min">50</label>-->
<!--                            <label class="key_value">61</label>-->
<!--                        </div>-->
<!--                        <div class="key_time">-->
<!--                            &nbsp;-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="t">-->
<!--                        <label>T1：</label><label>-</label>-->
<!--                        <label class="key_unit2">(℃)</label>-->
<!--                    </div>-->
<!--                    <div class="t t2">-->
<!--                        <label>T2：</label><label>-</label>-->
<!--                        <label class="key_unit2">(℃)</label>-->
<!--                    </div>-->
<!--                    <div class="t td">-->
<!--                        <label>TD：</label><label>0.0</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>
</body>
</html>