<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script type="text/javascript" src="/static/js/common/title.js"></script>
    <link rel="stylesheet" href="/static/css/login.css">
    <script type="text/javascript" src="/static/js/login/login.js"></script>
</head>
<body>
<div class="container">
    <div class="login">
        <div class="left">
            EC
        </div>
        <div class="right">
            <div class="title">用户登录</div>
            <div class="login_error"></div>
            <form id="loginForm" class="form" action="/login" method="post">
                <div class="form-item">
                    <label class="iconfont">&#xe805;</label>
                    <input type="text" id="username" name="username" placeholder="请输入用户名"/>
                </div>
                <div class="form-item">
                    <label class="iconfont">&#xe848;</label>
                    <input type="password" id="password" name="password" placeholder="请输入密码" onkeydown="keyup_submit(event);"/>
                </div>
                <div class="form-item">
                    <label class="iconfont"> </label> <input id="user_login" type="button" value="登录">
                </div>
                <div class="form-item">
                    <label class="iconfont"> </label> <a href="/register">用户注册</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>