<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>日志信息</title>
    <script type="text/javascript" src="/static/js/common/title.js"></script>
    <script type="text/javascript" src="/static/js/utils/utils.js"></script>
    <script type="text/javascript" src="/static/js/operation/log.js"></script>
</head>
<body>
<div id="log_list" class="easyui-datagrid" fit="true" style="width: 100%;height: 100%"
     toolbar="#log_list_toolbar">

</div>
<div id="log_list_toolbar" style="width: 100%;height: auto;padding: 5px">
    <a class="easyui-linkbutton" id="query" data-options="iconCls:'icon-reload'">刷新</a>
</div>
</body>
</html>