<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allong.centerstation.mapper.DeptBedMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.allong.centerstation.domain.entity.DeptBed">
        <id column="id" property="id" />
        <result column="hospital_id" property="hospitalId" />
        <result column="dept_id" property="deptId" />
        <result column="bed_no" property="bedNo" />
        <result column="bed_label" property="bedLabel" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, hospital_id, dept_id, bed_no, bed_label
    </sql>

</mapper>
