<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allong.centerstation.mapper.DeviceTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.allong.centerstation.domain.DeviceType">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="manufacturer" property="manufacturer" />
        <result column="brand" property="brand" />
        <result column="model" property="model" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, manufacturer, brand, model
    </sql>

</mapper>
