<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allong.centerstation.mapper.DeviceKeyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.allong.centerstation.domain.entity.DeviceKey">
        <id column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="device_id" property="deviceId"/>
        <result column="name" property="name"/>
        <result column="key_color" property="keyColor"/>
        <result column="key_size" property="keySize"/>
        <result column="min" property="min"/>
        <result column="max" property="max"/>
        <result column="position" property="position"/>
        <result column="wave" property="wave"/>
        <result column="scale" property="scale"/>
        <result column="unit" property="unit"/>
        <result column="frame_size" property="frameSize"/>
        <result column="enable" property="enable"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
       device_id, id, code, name, key_color, key_size, min, max, position, wave, scale,unit,frame_size,enable
    </sql>

    <select id="listKeyDetail" resultType="com.allong.centerstation.domain.KeyDetail">
            select k.id keyId,k.name keyName,d.name deviceName,k.wave from sys_device_key k,sys_device_type d
            where k.device_id = d.id and k.enable = 1;
    </select>

</mapper>
