<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allong.centerstation.mapper.PatientMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.allong.centerstation.domain.entity.Patient">
        <id column="id" property="id"/>
        <result column="hid" property="hid"/>
        <result column="dept" property="dept"/>
        <result column="bed" property="bed"/>
        <result column="pid" property="pid"/>
        <result column="zyh" property="zyh"/>
        <result column="name" property="name"/>
        <result column="gender" property="gender"/>
        <result column="age" property="age"/>
        <result column="complaint" property="complaint"/>
        <result column="record_time" property="recordTime"/>
        <result column="record_user" property="recordUser"/>
        <result column="status" property="status"/>
        <result column="identity" property="identity"/>
    </resultMap>
    
    <resultMap id="detailMap" extends="BaseResultMap" type="com.allong.centerstation.domain.PatientDetail">
        <result column="hospital_name" property="hospitalName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,hid,dept, bed, pid, zyh, name, gender, age,identity, complaint, record_time, record_user, status
    </sql>
    <select id="listDetail" resultType="com.allong.centerstation.domain.PatientDetail">
        select * from view_patient_detail where status = #{status}
        order by name desc,dept desc;
    </select>
    <select id="listDetailByHid" resultType="com.allong.centerstation.domain.PatientDetail">
        select * from view_patient_detail where
            status = #{status}
            and
            hid = #{hid}
            order by name desc,dept desc;
    </select>
    <select id="listDetailByIds" resultType="com.allong.centerstation.domain.PatientDetail">
        select * from view_patient_detail where
         id in
         <foreach collection="ids" separator="," open="(" close=")" item="id">
             #{id}
         </foreach>
        order by name desc,dept desc;
    </select>

</mapper>
