<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allong.centerstation.mapper.TemplateGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.allong.centerstation.domain.entity.TemplateGroup">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="temp_name" property="tempName" />
        <result column="enable" property="enable" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, temp_name,enable
    </sql>
    <update id="updateAllDisable">
        update sys_template_group set enable = false  where username = #{username};
    </update>
    <update id="updateOneEnable">
        update sys_template_group set enable = true where id = #{tempId};
    </update>

</mapper>
